/* Mobile first */
.container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 600px;
    border: 2px solid grey;
    /* Use grid-template-area to create a mobile layout where each named space occupies its own row */
    grid-template-areas:
        "hd"
        "sd"
        "main"
        "ft";
}

.col {
    font-weight: bold;
    font-style: italic;
}

.quote {
    color: green;
}

.box {
    border: 1px solid #d7bde2;
    background: #d7bde2;
}

.col {
    color: orange;
}

.unorder {
    color: cyan;
}
.unorder:hover {
    color: #fc2003;
}

.flex-container {
    display: flex;
    align-content: "center";
    flex-direction: "row";
}

.white-section {
    background-color: skyblue;
}

.image {
    height: 250px;
    width: 1102px;
}

.header {
    grid-area: hd;
}
.footer {
    grid-area: ft;
}
.sidebar {
    grid-area: sd;
}
.content {
    grid-area: main;
}

/* If Screen Is Wide Enough */
@media (min-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 300px 600px;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "sd sd main main main main main main"
            "ft ft ft ft ft ft ft ft";
        border: 2px solid grey;
    }
}
